@media only screen and (min-width : 421px) {
	.nav {
		display: none;
	}

	#icone {
		cursor: pointer;
		padding: 15px;
		position: absolute;
		z-index: 1;
		background-color: #5B7482;
		transition: all .2s linear;
		z-index: 8;
	}

	#check {
		display: none;
		background-color: #f00;
	}

	.barra {
		background-color: #C1D0D8;
		height: 100%;
		width: 300px;
		position: absolute;
		left: -300px;
		transition: all .2s linear;
		z-index: 7;
	}

	.barra .link {
		list-style: none;
	}

	nav {
		width: 100%;
		position: absolute;
		top: 74px;
	}

	nav a {
		text-decoration: none;
	}

	.link {
		color: #050542;
		font-size: 12pt;
		padding: 20px;
		transition: all .2s linear;
		margin-top: 200px;
		display: none;
	}

	.link:hover {
		background-color: #5b74828a;
		color: white;
	}

	#check:checked~.barra nav a .link {
		margin-top: 0;
		display: block;
	}

	#check:checked~#icone {
		padding-right: 245px;
		transition: all .2s linear;
	}

	#check:checked~.barra {
		transform: translateX(300px);
	}
}

@media only screen and (max-width : 420px) {
	#menu {
		display: none;
	}

	* {
		box-sizing: border-box;
	}

	body {
		margin: 0px;
	}

	.nav {
		height: 50px;
		width: 100%;
		background-color: #5B7482;
		position: relative;
	}

	.nav>.nav-header {
		display: inline;
	}

	.nav>.nav-header>.nav-title {
		display: inline-block;
		font-size: 22px;
		color: #fff;
		padding: 6px 10px 10px 10px;
	}

	.nav>.nav-btn {
		display: none;
	}

	.nav>.nav-links {
		display: inline;
		float: right;
		font-size: 18px;
		z-index: 11;
	}

	.nav>.nav-links>a {
		display: inline-block;
		padding: 13px 10px 13px 10px;
		text-decoration: none;
		color: #efefef;
	}

	.nav>.nav-links>a:hover {
		background-color: #5B7482;
	}

	.nav>#nav-check {
		display: none;
	}

	
	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.nav>.nav-btn>label:hover,
	.nav #nav-check:checked~.nav-btn>label {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #eee;
	}

	.nav>.nav-links {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #5b7482bd;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: 0px;
	}

	.nav>.nav-links>a {
		display: block;
		width: 100%;
	}

	.nav>#nav-check:not(:checked)~.nav-links {
		height: 0px;
	}

	.nav>#nav-check:checked~.nav-links {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}

}
