<!-- ESSE HTML É PARA TESTES DE DESIGN, QUANDO O SISTEMA FOR IMPLEMENTADO ESSE ARQUIVO SERÁ APAGADO -->
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="images/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/translate.css">
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/menu.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/keyboard.css">
		<title>2Braile</title>
	</head>
	<body>
		<div id="menu">
			<input type="checkbox" id="check">
			<label for="check" id="icone"><img src="images/menu.svg"/></label>
			<div class="barra">
				<nav>
					<a href="">
						<div class="link">Login</div>
					</a>
					<a href="">
						<div class="link">Sobre nós</div>
					</a>
				</nav>
			</div>
		</div>
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
				<img src="images/Braille.svg" class="nav-title">
			</div>
			<div class="nav-btn">
				<label for="nav-check">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
			<div class="nav-links">
				<a href="">
                    <div class="link">Login</div>
                </a>
                <a href="">
                    <div class="link">Sobre nós</div>
                </a>
			</div>
		</div>

		<header>
			<img id="logo" src="images/Braille.svg" alt="">
		</header>

		
		<main class="translate">
			<form action="/" method="post">
				<div id="in">
					<textarea name="entradaTraducao" id="area-in" cols="50" rows="30" class="use-keyboard-input" placeholder="Digite o texto a ser traduzido..."></textarea>
				</div>
				<div id="arrow-button">
					<button><abbr title="Traduzir"><img id="arrow" src="images/arrow-long-right.svg" alt=""></abbr></button>
				</div>
				<div id="out">
					<textarea disabled name="" id="area-out" cols="50" rows="30" placeholder="Sua tradução aparecerá aqui..."></textarea>
				</div>
				<div id="copy">
					<abbr title="Copiar para área de transferência"><a><img src="images/clipboard.svg" alt=""></a></abbr>
				</div>
			</form>
		</main>

		<footer>
			<p>2Braile - Conversor didático para Braile - 2022</p>
		</footer>

		<script src="js/copyClipboard.js"></script>
		<script src="js/showFormatted.js"></script>
		<script src="js/keyboard.js"></script>
		<script src="js/disableKeyboardToSmartphones.js"></script>
	</body>
</html>
