<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="../content/images/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="../content/css/fonts.css">
		<link rel="stylesheet" href="../content/css/style.css">
		<link rel="stylesheet" href="../content/css/translate.css">
		<link rel="stylesheet" href="../content/css/footer.css">
		<link rel="stylesheet" href="../content/css/menu.css">
		<link rel="stylesheet" href="../content/css/header.css">
		<title>2Braile</title>
	</head>
	<body>
		<div id="menu">
			<input type="checkbox" id="check">
			<label for="check" id="icone"><img src="../content/images/menu.svg"/></label>
			<div class="barra">
				<nav>
					<a href="">
						<div class="link">Login</div>
					</a>
					<a href="">
						<div class="link">Sobre nós</div>
					</a>
				</nav>
			</div>
		</div>
		<div class="nav">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
				<img src="../content/images/Braille.svg" class="nav-title">
			</div>
			<div class="nav-btn">
				<label for="nav-check">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
			<div class="nav-links">
				<a href="">
                    <div class="link">Login</div>
                </a>
                <a href="">
                    <div class="link">Sobre nós</div>
                </a>
			</div>
		</div>

		<header>
			<img id="logo" src="../content/images/Braille.svg" alt="">
		</header>

		
		<main class="translate">
			<form action="../controller/App.js" method="post">
				<div id="in">
					<textarea name="" id="" cols="50" rows="30" placeholder="Digite o texto a ser traduzido..."></textarea>
				</div>
				<div id="arrow-button">
					<abbr title="Traduzir"><img id="arrow" src="../content/images/arrow-long-right.svg" alt=""></abbr>
				</div>
				<div id="out">
					<textarea disabled name="" id="" cols="50" rows="30" placeholder="Sua tradução aparecerá aqui..."></textarea>
				</div>
			</form>
		</main>

		<footer>
			<p>footer provisório (iremos falar brevemente sobre o sistema)</p>
		</footer>
	</body>
</html>
