footer {
    background-color: #5B7482;
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    width: 100vw;
    z-index: -1;
    font-family: 'Archivo', sans-serif;
}