@media only screen and (min-width : 500px) {
    .translate form {
        margin-left: calc(50vw - 38.5vw);
        display: grid;
        padding-top: 3vh;
        grid-template-columns: 36vw 7vw 33vw 5vw;
    }

    textarea {
        width: 30vw;
        height: 70vh;
        font-size: 4vh;
    }

    #arrow {
        width: 4vw;
        padding-top: 34vh;
    }

    #copy {
        width: 24px;
    }
}

@media only screen and (max-width : 500px) {
    .translate form {
        display: grid;
        margin-left: 17vw;
        padding-top: 2vh;
        grid-template-rows: 31vh 5vh auto auto;
        width: 66vw;    
    }

    textarea {
        width: 66vw;
        height: 30vh;
        font-size: 2.2vh;
    }

    #arrow {
        transform: rotate(90deg);
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    #copy {
        width: 26px;
        margin-left: 55vw;
    }

}

textarea {
    border-radius: 2px;
    resize: none;
    box-shadow: 5px 2.5px 5px rgba(0, 0, 0, 0.040);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vh;
    font-family: 'Noto Sans', sans-serif;
}

#copy {
    border: solid 1px;
    height: 26px;
    border-radius: 4px;
    margin-top: 0.5vw;
}
